.header {
  display: grid;
  margin-top: var(--space-medium);
  padding-inline: var(--space-large);
}

.header h1 {
  font-size: var(--font-size-medium);
  text-align: center;
}

.header__subtext {
  font-style: italic;
  justify-self: center;
  margin-top: var(--space-neutral);
  max-width: 46em;
  text-align: center;
  text-wrap: pretty;
}

.header__subtext a,
.header__subtext a:hover {
  color: inherit;
}



@media(min-width: 64em) {

  .header {
    padding-inline: var(--space-xx-large);
  }

}
